[Unit]
Description=Python Client Script
After=network.target

[Service]
Type=simple
User=ksch
WorkingDirectory=/home/ksch
ExecStart=/usr/bin/python3 /home/ksch/client.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
